body {
  margin: 0;
  font-family: Avenir, -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, noto sans,
    sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji, sans-serif;
}

* {
  box-sizing: border-box;
}

#root {
  height: 300px;
  padding-left: 20%;
  padding-top: 60px;
  padding-right: 20%;
}

#root > h1 {
  color: #555555;
  font-size: 30px;
  margin-top: 0px;
  font-weight: 500;
  border-bottom: 1px solid #dddddd;
  padding-left: 20px;
}

.icon-list-ul {
  padding-left: 0px;
  margin: 0px;
  /* overflow: hidden; */
  float: left;
}

.icon-list-ul > li {
  float: left;
  width: 20%;
  text-align: center;
  list-style: none;
  min-height: 108px;
  /* height: 100px; */
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
  padding-top: 20px;
}

.icon-list-ul > li > p {
  margin-bottom: 0px;
}

.icon-list-ul > li:hover {
  background-color: #1989fa;
  color: #fff;
  transform: scale(1.15);
  transition: transform 0.4s;
}

/* toast */
.toast-div {
  position: fixed;
  left: 50%;
  top: 100px;
  transform: translateX(-50%);
  color: #fff;
  background-color: rgba(17, 17, 17, 0.7);
  padding-left: 44px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 44px;
  border-radius: 4px;
  animation: toastMove .4s ease-in-out;
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08),
    0 9px 28px 8px rgba(0, 0, 0, 0.05);
}

@keyframes toastMove {
  from {
    transform: translate(-50%,-40px);
    opacity: .6;
  }
  to {
    transform: translate(-50%, 0);
    opacity: 1;
  }
}

.toast-div > p {
  margin: 0;
}
