@font-face {
  font-family: 'iconfont';
  src: url(./dist/test.eot);
  src: url(./dist/test.eot?#iefix) format('embedded-opentype'),
  url(./dist/test.woff) format('woff'),
  url(./dist/test.ttf) format('truetype'),
  url(./dist/test.svg#iconfont) format('svg');
}

.test {
  /* color: red; */
  
}

.icon {
  font: normal normal normal 128px/1 'iconfont';
}

.icon::after {
  content: '\0e616';
}